html {
  background-color: #00539f;
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: "Open Sans", serif;
}
h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 600px;
  margin: 20px 20px 20px 20px;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
